@use "../variables";
@import "../mixins";

.Competition-tile {
  @include entity-button;
  height: fit-content;

  img {
    position: relative;
    width: variables.$tilePosterSize !important;
    //height: variables.$tilePosterSize !important;
  }
}
