@use "../colors";
@use "../variables";
@import "../mixins";

.Item-poster {
  @include Poster;
  max-width: 10vw;
}

.Event-display {
  display: flex;
  flex-wrap: wrap;
}

.Event-tile {
  @include EntityButton;
  width: variables.$eventPosterWidth;
  overflow: hidden;
  padding: 1rem;
  text-align: left;
  color: colors.$eventTile;

  &:hover {
    color: colors.$defaultFontColor;

    .Event-title > span {
      color: colors.$eventDetails;

      span {
        color: colors.$eventDetailPunctuation;
      }
    }

    .Event-date {
      opacity: 1;
    }
  }

  .Event-poster {
    width: variables.$eventPosterWidth;
    //height: 15vh;
  }

  .Event-title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-weight: normal;

    span {
      color: colors.$eventTitle;

      span {
        color: colors.$eventTeams;
      }
    }
  }

  .Event-date {
    font-size: small;
    color: colors.$mediumFontColor;
    opacity: .8;
  }
}

.Event-details-container {
  display: flex;

  img {
    width: variables.$eventPosterWidth;
    margin-right: 1.5rem;
  }
}

.Event-detail-header {
  margin-bottom: 1.5rem;

  .Team-name {
    color: colors.$teamName;
  }
}

.Event-button-container {
  display: flex;
  align-items: center;
  height: 2rem;
  margin: 2rem 0;

  & > * {
    margin-right: 1rem;
  }
}

.Video-source-metadata {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .Video-source-metadata-field {
    margin-right: 1rem;
    margin-bottom: 1rem;

    div {
      padding: .7rem 1.7rem;
    }

    .Video-source-metadata-field-name {
      background-color: colors.$videoSourceMetadataName;
      color: colors.$mediumFontColor;
      font-weight: bold;
    }

    .Video-source-metadata-field-value {
      background-color: colors.$videoSourceMetadataValue;
      color: colors.$videoSourceMetadata;
    }
  }
}

.Entity-display {
  display: flex;
  flex-wrap: wrap;
}

.Find-more-container {
  margin: 2rem 0;

  .Find-more-items {
    display: flex;
    flex-direction: row;
  }
}
