@use "../variables";
@import "../mixins";

.Team-tile {
  @include EntityButton;
  width: 12vw;

  img {
    position: relative;
    width: variables.$tilePosterSize !important;
    height: variables.$tilePosterSize !important;
  }
}

.Team-detail-poster {
  height: 350px;
}
