@use "../colors";
@use "../fonts";
@use "../layers";
@use "../variables";
@import "../mixins";


.Item-poster {
  @include poster;
  max-width: 10vw;
}

.Event-display {
  display: flex;
  flex-wrap: wrap;
}

$posterWidth: 500px;
$posterHeight: calc($posterWidth / (16 / 9));

.Event-tile {
  @include entity-button;
  width: variables.$eventPosterWidth;
  overflow: hidden;
  padding: 1rem;
  text-align: left;
  color: colors.$eventTile;

  &:hover {
    color: colors.$defaultFontColor;

    .Event-title > span {
      color: colors.$eventDetails;

      span {
        color: colors.$eventDetailPunctuation;
      }
    }

    .Event-date {
      opacity: 1;
    }
  }

  .Event-poster {
    width: variables.$eventPosterWidth;
    //height: 15vh;
  }

  .Event-title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-weight: normal;

    span {
      color: colors.$eventTitle;

      span {
        color: colors.$eventTeams;
      }
    }
  }

  .Event-date {
    font-size: small;
    color: colors.$mediumFontColor;
    opacity: .8;
  }
}

.Event-details-container {
  display: flex;

  .Event-poster-container {
    position: relative;

    .Event-poster {
      margin-right: 1.5rem;
      width: $posterWidth;
      height: $posterHeight;
    }

    .Edit-event-button {
      position: absolute;
      top: 0;
      left: 0;
      width: $posterWidth;
      height: $posterHeight;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: variables.$softBorder;

      .Spinner-container {
        display: none;
        background-color: colors.$defaultComponentBg;
        border: 4px solid colors.$border;
        border-radius: 100%;
        padding: 1rem;
        width: 32px;
        height: 32px;
      }

      &:hover {
        cursor: pointer;
        background: colors.$dimmed;

        .Spinner-container {
          display: block;
        }
      }
    }
  }
}

.Event-detail-header-container {
  margin-bottom: 1.5rem;

  .Team-name {
    color: colors.$eventTeams;
  }
}

.Event-button-container {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-bottom: 2rem;

  & > * {
    margin-right: 1rem;
  }
}

.Video-source-display-container {
  margin-left: 2rem;

  .Video-source-display {
    position: relative;
    display: inline-block;
    background-color: colors.$darkTransparent;
    opacity: .8;
    border-radius: .65em;
    margin: 0 2rem 2rem 0;
    padding: 2rem;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &.selected {
      opacity: 1;

      &:hover {
        cursor: default;
      }

      .Video-source-display-header {
        .Video-source-id {
          display: block;
        }

        .Video-source-controls-container {
          display: flex;

          .Video-source-play-button {
            opacity: 1;
          }
        }
      }

      .Video-source-display-controls {
        visibility: visible;
      }

      .Video-file-display {
        display: flex;
      }

      .Video-source-extra-control {
        display: flex;
      }
    }

    .Video-source-display-header {

      .Video-source-id {
        color: #666;
        font-size: 8pt;
        display: none;
      }

      .Video-source-controls-container {
        display: none;
        align-items: center;
        margin-top: 1rem;

        & > * {
          margin-right: 1rem;
        }
      }

      .delete-button:hover {
        filter: colors.$redFilter;
      }
    }

    .Video-source-display-controls {
      position: absolute;
      top: 1rem;
      right: 1rem;
      visibility: hidden;
    }

    .Video-source-metadata-fields {
      margin: 1rem 0;
      color: colors.$defaultFontColor;
      font-size: medium;
      font-family: fonts.$technical;
      font-weight: lighter;

      & span:not(:last-of-type) {

        &::after {
          content: 'â—';
          margin: 0 .5em;
          color: colors.$darkFontColor;
        }
      }
    }

    .Video-file-display {
      display: none;
      align-items: flex-start;
      margin: 1rem;

      .Video-file-url {
        display: inline-block;
        width: 18vw;
        font-size: 8pt;
        color: colors.$darkFontColor;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        visibility: hidden;
      }

      .Error-modal-button {
        color: red;
        padding: .5rem;

        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {
        .Video-file-url,
        .Video-file-controls-container {
          visibility: visible;
        }
      }

      .Video-file-controls-container {
        visibility: hidden;
        display: flex;
        justify-content: space-evenly;
        margin-left: 3rem;

        & > * {
          margin-right: 1rem;
        }

        & button {
          $size: 18px;
          width: $size;
          height: $size;
        }
      }
    }

    .Video-source-confirm-message {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding: 2rem;

      .Video-source-details {
        font-family: fonts.$technical;
        color: #666;
        padding: 1rem;
        text-align: center;
      }
    }
  }

  .Video-source-play-button {
    $size: 28px;

    display: flex;
    opacity: 0;
    width: $size;
    height: $size;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: colors.$active;
    border: 0;

    &:hover {
      filter: brightness(80%);
    }

    img {
      width: 14px;
      height: 14px;
      left: 1px;
      position: relative;
      filter: brightness(0%);
    }
  }

  .Video-source-extra-control {
    display: none;

    &.delete {
      &:hover {
        filter: colors.$redFilter;
      }
    }
  }
}

.Entity-display {
  display: flex;
  flex-wrap: wrap;
}

.Find-more-container {
  margin: 2rem 0;

  .Find-more-items {
    display: flex;
    flex-direction: row;

    & > * {
      margin-right: 4rem;
    }

    .Team-tile a .Entity-poster img {
      height: 225px !important;
      width: 225px !important;
    }
  }
}

.Artwork-metadata-container {
  display: flex;
  flex-direction: column;
}

.Refresh-event-artwork-container {
  width: 350px;
  height: 250px;
  display: flex;

  .Event-editor-artwork {
    position: relative;
    margin: 1rem 0;

    .Soft-load-container {
      width: 350px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: absolute;
    }

    .Spinner-container {
      position: absolute;
      display: flex;
      padding: 1rem;
      width: 318px;
      height: 165px;
      background: colors.$dimmed;
      z-index: layers.$modalFloatingMenu;

      .Centered-spinner {
        padding: 0;
      }
    }
  }

}

.Team-select-wizard {
  display: flex;

  .Team-display {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      color: colors.$mediumFontColor;
    }

    .Team-select {
      display: flex;
    }
  }
}

.Team-select-menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50px;
  left: -50px;

  .Team-select-arrow {
    position: absolute;
    left: -14px;
    top: 25px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid colors.$border;

    div {
      position: absolute;
      left: 2px;
      top: -14px;
      width: 0;
      height: 0;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      border-right: 14px solid rgb(42, 42, 42);
    }
  }

  .Team-select-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 30vw;
    height: 25vh;
    overflow-y: scroll;
    padding: 1rem;
    border: 1px solid colors.$border;
    border-radius: 5px;
    background-color: colors.$defaultComponentBg;

    .Team-tile-selector {
      position: relative;
      border: 2px solid transparent;

      .Team-tile {
        margin: 0;
        width: 5rem;
        font-size: small;

        .Soft-load-container {
          img {
            width: 5rem !important;
            height: 5rem !important;
          }
        }
      }

      &.selected {
        @include selected;
      }
    }
  }
}

.Error-message-table {
  $errorTblBorder: 1px solid colors.$darkBorder;
  border-collapse: collapse;

  td {
    padding: 1rem;

    &:first-child {
      border-right: $errorTblBorder;
      font-weight: bold;
      color: colors.$mediumFontColor;
      vertical-align: top;
    }
  }

  tr:not(:last-child) {
    td {
      border-bottom: $errorTblBorder;
    }
  }

  .Stacktrace-display {
    margin: 1rem;
    display: flex;
    overflow: scroll;
    box-sizing: border-box;
    max-height: 25vh;
    max-width: 100%;
  }
}

.Video-source-edit-form {
  margin: -1rem 0;

  h3 {
    margin-bottom: 1rem;
    color: colors.$lightFontColor;
    letter-spacing: .08rem;
  }

  .invalid {
    border-color: red;
  }

  .Video-source-edit-section {
    margin-bottom: 2rem;
  }

  .Video-source-metadata-container {

    li {
      margin-bottom: .5rem;

      label {
        display: inline-block;
        color: colors.$darkFontColor;
        width: 10rem;
      }

      input[type=text] {
        width: 12rem;
      }
    }
  }

  .Video-file-editor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    .Select button {
      width: 10rem;
    }

    .Clear-button {
      margin-left: 0;
      margin-right: 1rem;
    }

    &:not(:last-child) {
      .Add-button {
        visibility: hidden;
      }
    }

    & > * {
      margin-right: 1rem;
    }
  }
}