@use "../colors";
@use "../fonts";
@use "../layers";
@use "../variables";
@import "../mixins";

.Item-poster {
  @include poster;
  max-width: 10vw;
}

.Event-display {
  display: flex;
  flex-wrap: wrap;
}


$posterWidth: 500px;
$posterHeight: calc($posterWidth / (16 / 9));

.Event-tile {
  @include entity-button;
  width: variables.$eventPosterWidth;
  overflow: hidden;
  padding: 1rem;
  text-align: left;
  color: colors.$eventTile;

  &:hover {
    color: colors.$defaultFontColor;

    .Event-title > span {
      color: colors.$eventDetails;

      span {
        color: colors.$eventDetailPunctuation;
      }
    }

    .Event-date {
      opacity: 1;
    }
  }

  .Event-poster {
    width: variables.$eventPosterWidth;
    //height: 15vh;
  }

  .Event-title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-weight: normal;

    span {
      color: colors.$eventTitle;

      span {
        color: colors.$eventTeams;
      }
    }
  }

  .Event-date {
    font-size: small;
    color: colors.$mediumFontColor;
    opacity: .8;
  }
}

.Event-details-container {
  display: flex;

  .Event-poster-container {
    position: relative;

    .Event-poster {
      margin-right: 1.5rem;
      width: $posterWidth;
      height: $posterHeight;
    }

    .Edit-event-button {
      position: absolute;
      top: 0;
      left: 0;
      width: $posterWidth;
      height: $posterHeight;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: variables.$softBorder;

      .Spinner-container {
        display: none;
        background-color: colors.$defaultComponentBg;
        border: 4px solid colors.$border;
        border-radius: 100%;
        padding: 1rem;
        width: 32px;
        height: 32px;
      }

      &:hover {
        cursor: pointer;
        background: colors.$dimmed;

        .Spinner-container {
          display: block;
        }
      }
    }
  }
}

.Event-detail-header-container {
  margin-bottom: 1.5rem;

  .Team-name {
    color: colors.$eventTeams;
  }
}

.Event-button-container {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-bottom: 2rem;

  & > * {
    margin-right: 1rem;
  }
}

.Video-source-display-container {
  margin-left: 2rem;

  .Video-source-display {
    position: relative;
    display: inline-block;
    background-color: colors.$darkTransparent;
    border-radius: .65em;
    margin: 0 2rem 2rem 0;
    padding: 1rem;

    &:hover {
      cursor: pointer;
    }

    &.selected {

      &:hover {
        cursor: default;
      }

      .Video-source-display-close-button {
        visibility: visible;
      }

      .Video-file-display {
        display: flex;
      }

      .Video-source-extra-control {
        display: flex;
      }
    }

    .Video-source-display-header {
      display: flex;
      align-items: center;

      .Video-source-controls-container {
        display: flex;
        align-items: center;

        & > * {
          margin: 0 .25rem;
        }
      }
    }

    .Video-source-display-close-button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      visibility: hidden;
    }

    .Video-source-metadata-fields {
      margin: 1rem 0;
      color: colors.$defaultFontColor;
      font-size: medium;
      font-family: fonts.$technical;
      font-weight: lighter;

      & span:not(:last-of-type) {

        &::after {
          content: 'â—';
          margin: 0 .5em;
          color: colors.$darkFontColor;
        }
      }
    }

    .Video-file-display {
      display: none;
      align-items: flex-start;
      margin: 1rem;

      .Video-file-url {
        display: inline-block;
        width: 18vw;
        font-size: 8pt;
        color: colors.$darkFontColor;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        visibility: hidden;
      }

      &:hover {
        .Video-file-url,
        .Video-file-controls-container {
          visibility: visible;
        }
      }

      .Video-file-controls-container {
        visibility: hidden;
        display: flex;
        justify-content: space-evenly;
        margin-left: 3rem;

        & > * {
          margin-right: 1rem;
        }
      }
    }
  }

  .Video-source-play-button {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    //margin: 0 2rem;
    background-color: colors.$active;
    border: 0;

    &:hover {
      filter: brightness(90%);
    }

    img {
      width: 14px;
      height: 14px;
      left: 1px;
      position: relative;
      filter: brightness(0%);
    }
  }

  .Video-source-extra-control {
    display: none;

    &.delete {
      &:hover {
        filter: brightness(0) saturate(100%) invert(21%) sepia(72%) saturate(6426%)
          hue-rotate(355deg) brightness(97%) contrast(122%);
      }
    }
  }
}

.Entity-display {
  display: flex;
  flex-wrap: wrap;
}

.Find-more-container {
  margin: 2rem 0;

  .Find-more-items {
    display: flex;
    flex-direction: row;

    & > * {
      margin-right: 4rem;
    }

    .Team-tile a .Entity-poster img {
      height: 225px !important;
      width: 225px !important;
    }
  }
}

.Artwork-metadata-container {
  display: flex;
  flex-direction: column;
}

.Refresh-event-artwork-container {
  width: 350px;
  height: 250px;
  display: flex;

  .Event-editor-artwork {
    .Soft-load-container {
      width: 350px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: absolute;
    }

    .Spinner-container {
      position: absolute;
      display: flex;
      padding: 1rem;
      width: 318px;
      height: 165px;
      background: colors.$dimmed;
      z-index: layers.$modalFloatingMenu;

      .Centered-spinner {
        padding: 0;
      }
    }
  }

}

.Team-select-wizard {
  display: flex;

  .Team-display {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      color: colors.$mediumFontColor;
    }

    .Team-select {
      display: flex;
    }
  }
}

.Team-select-menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50px;
  left: -50px;

  .Team-select-arrow {
    position: absolute;
    left: -14px;
    top: 25px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid colors.$border;

    div {
      position: absolute;
      left: 2px;
      top: -14px;
      width: 0;
      height: 0;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      border-right: 14px solid rgb(42, 42, 42);
    }
  }

  .Team-select-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 30vw;
    height: 25vh;
    overflow-y: scroll;
    padding: 1rem;
    border: 1px solid colors.$border;
    border-radius: 5px;
    background-color: colors.$defaultComponentBg;

    .Team-tile-selector {
      position: relative;
      border: 2px solid transparent;

      .Team-tile {
        margin: 0;
        width: 5rem;
        font-size: small;

        .Soft-load-container {
          img {
            width: 5rem !important;
            height: 5rem !important;
          }
        }
      }

      &.selected {
        @include selected;
      }
    }
  }
}
