@use "../colors";
@use "../variables";


.User-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .User-tile {
    padding: 2rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    color: colors.$mediumFontColor;

    .User-avatar {
      filter: brightness(90%);
    }

    .User-data {
      margin: 1rem 2rem;

      p {
        margin: .4rem 0;
        max-width: 15vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &:hover {
      color: colors.$defaultFontColor;
      border-color: colors.$mediumFontColor;

      .User-avatar {
        filter: none;
      }

      & .Logged-in-checkbox::before {
        opacity: 1;
      }
    }

    .Logged-in-checkbox {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: inline-flex;
      justify-content: center;


      &::before {
        content: '\00a0';
        color: colors.$mediumFontColor;
        opacity: .8;
        border-radius: 100%;
        border: 1px solid colors.$mediumFontColor;
        width: .85rem;
        height: .85rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .3em;
      }

      &:checked::before {
        content: '✔';
        color: colors.$ok;
        border-color: colors.$ok;
      }
    }

    .Menu-button {
      background: none;
      border: none;
      color: colors.$mediumFontColor;
      font-size: large;
      padding: .5rem 1rem;

      &:hover {
        background-color: colors.$mediumButtonBackground;
        color: colors.$defaultFontColor;
      }
    }
  }
}

.User-delete-details {
  border-collapse: collapse;
  margin: 3rem 0;

  td {
    padding: 1.4rem;
    color: colors.$mediumFontColor;
  }

  td:first-child {
    font-weight: bolder;
    color: colors.$defaultFontColor;
  }

  td + td,
  th + th {
    border-left: 1px solid #666;
  }

  tr + tr {
    border-top: 1px solid #666;
  }
}

.User-credential-container {
  margin: 1rem 0;
  border: variables.$lightBorder;
  padding: 2rem;

  .User-credential-header {
    .Credential-header-button {
      background-color: colors.$defaultComponentBg;
      border: none;
      padding: 1rem 2rem;
      color: colors.$mediumFontColor;

      &.selected {
        background-color: colors.$selectedCredential;

        &:hover {
          background-color: colors.$selectedCredentialHover;
        }
      }

      &:hover {
        background-color: colors.$credentialHover;
        color: colors.$defaultFontColor;
      }
    }
  }

  .User-credential-display {
    border: variables.$lightBorder;
    padding: 1rem;
  }
}

.Add-new-user-form {

  .Form-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;

    input[type=text],
    input[type=password] {
      max-width: 75%;
      background: none;
    }

    .Hover-label {
      align-self: start;
      position: relative;
      transform: translateY(50%) translateX(20%);
    }
  }
}

.Cookie-display {
  max-width: 100%;
  overflow-x: scroll;

  .Cookie-display-table {
    $padding: .8rem;

    border-collapse: collapse;

    th {
      text-align: left;
      background-color: colors.$darkBg;
      padding: $padding;
    }

    tr:nth-of-type(2n) {
      background-color: rgba(0, 0, 0, .2);
    }

    td {
      padding: $padding;
      color: colors.$mediumFontColor;
      max-width: 15vw;
      overflow: hidden;
      text-overflow: ellipsis;

      &:nth-of-type(2n+1) {
        background-color: rgba(100, 100, 100, .2);
        color: colors.$defaultFontColor;
      }
    }
  }
}
