$darkBg: #222;
$defaultFontColor: whitesmoke;
$defaultComponentBg: #333;
$highlight: #089a4f;
$shadow: #222;
$border: #ccc;

$submitButton: #0a58ca;
$active: cornflowerblue;

// navigation menu
$navBackgroundColor: $defaultComponentBg;
$navButtonHover: rgba(255, 255, 255, .3);
$currentNavItemBg: rgba(255, 255, 255, .4);
