@use "colors";
@use "variables";

#Content-stage {
  position: absolute;
  top: 0;
  left: variables.$navigationSquare;
  height: calc(100vh - #{variables.$navigationSquare});
  width: calc(100vw - #{variables.$navigationSquare});
  overflow-y: auto;
}

.Content-container {
  display: flex;
  flex-direction: column;
}
