@use "variables";
@use "colors";
@use "header";
@use "side-nav";
@use "content-stage";
@use "home";

.Full-page-display {
  padding: variables.$navMenuHeight 6rem;
}

.Grid-list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 5vw;

  .Grid-item {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.section-header {
  display: flex;
  align-items: center;
  color: whitesmoke;

  & > * {
    margin: 0 .8rem;
    display: flex;
    align-items: center;
    align-content: center;
  }

  img {
    max-height: 2rem;
    opacity: .5;
  }
}

.Content-bar-title {
  text-align: left;
}

.Content-bar {
  width: 100%;
  margin: 1rem 0;
  overflow-x: hidden;

  .Content-bar-header {
    display: flex;
    justify-content: space-between;

    .Content-bar-controls {
      display: flex;
    }
  }
}

.Item-list {
  list-style: none;
  display: flex;
  position: relative;
  width: fit-content;

  .Item-slide {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 2rem;
    max-width: variables.$eventPosterWidth;

    div {
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: variables.$eventPosterWidth;
      max-lines: 1;
    }
  }
}

.Scroll-wrapper {
  position: relative;
  top: variables.$navMenuPadding + variables.$navMenuPadding;
  height: 100%;
  width: 100%;
}

.Collapsable-container {

  margin: 2rem 0;
  overflow: hidden;

  .Title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed #aaa;
    padding: 1rem;

    &:hover {
      cursor: pointer;
      background-color: colors.$defaultComponentBg;

      & img {
        opacity: .9;
      }
    }

    & img {
      height: 16px;
      display: flex;
      justify-content: right;
      opacity: .5;
      transform: rotate(90deg);
      //animation: flipArrowCollapsed .5 linear;

      &.expanded {
        transform: rotate(-90deg);
        animation: flipArrowExpanded .5s linear;
      }
    }
  }

  .Content-area {
    height: 0;
    display: none;
    animation: collapseContainer .5s linear;
    background-color: rgba(150,150,150,.1);

    &.expanded {
      height: revert;
      display: block;
      animation: expandContainer .5s linear;
    }
  }

  @keyframes flipArrowExpanded {
    from {
      transform: rotate(90deg);
    }
    to {
      transform: rotate(-90deg);
    }
  }

  @keyframes flipArrowCollapsed {
    from {
      transform: rotate(-90deg);
    }
    to {
      transform: rotate(90deg);
    }
  }

  @keyframes expandContainer {
    0% {
      height: 0;
      display: none;
    }
    100% {
      height: revert;
      display: block;
    }
  }

  @keyframes collapseContainer {
    0% {
      height: revert;
    }
    100% {
      height: 0;
    }
  }
}
