/**
  Layers (z-index values)
 */

$base: 1;

$floatingMenu: 110;

// video player
$videoPlayerModal: 165;
$videoPlayer: 175;

// modals
$modalContainer: 240;
$modal: 245;
$artworkUploadContainer: 300;
