@use "colors";
@use "variables";


@mixin button {
  margin: auto .5rem;
  padding: .5rem 1.2rem;
  border: 2px solid transparent;
  border-radius: .4em;
  background-color: colors.$defaultButtonBg;
  color: whitesmoke;
  letter-spacing: .1em;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  &[disabled] {
    cursor: not-allowed;
    background-color: colors.$darkBg;
    color: colors.$darkFontColor;
    border-color: colors.$border;
  }

  &:hover:not([disabled]) {
    color: whitesmoke;
    border-color: colors.$currentNavItemBg;
    background-color: colors.$currentNavItemBg;
  }
}

@mixin entity-button {
  padding: 1rem;
  border: 1px solid transparent;
  box-sizing: content-box;
  margin: 1rem 1.5rem;
  text-align: center;

  img {
    filter: saturate(80%) opacity(.8);
  }

  div {
    margin-top: .5rem;
    color: colors.$entityButtonFontColor;
  }

  &:hover {
    cursor: pointer;
    border-color: colors.$entityButtonBorder;
    background-color: colors.$entityButtonBackground;

    img {
      filter: saturate(100%) opacity(1);
    }

    div {
      color: colors.$defaultFontColor;
    }
  }
}

@mixin detail-poster {
  width: 250px;
  height: 350px;
  padding: 1rem 0;
}

@mixin disabled-input {
  background-color: colors.$defaultComponentBg;
  border: 1px solid colors.$mediumBg;
  color: colors.$mediumBg;
}

@mixin dropdown-arrow {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.2"><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M29.73,0A2.28,2.28,0,0,0,28,.8l0,0-12,12L3.85.63h0A2.25,2.25,0,0,0,2.27,0,2.27,2.27,0,0,0,0,2.27,2.25,2.25,0,0,0,.63,3.84h0L12.76,16h0L16,19.2,31.07,4.11A2.28,2.28,0,0,0,29.73,0Z"/></g></g></svg>');
  text-align: right;
  float: right;
  width: 12px;
  filter: invert(91%) sepia(0%) saturate(1%) hue-rotate(230deg) brightness(93%) contrast(88%);
  &:hover {
    filter: invert(99%) sepia(4%) saturate(443%) hue-rotate(301deg) brightness(115%) contrast(90%);
  }
}

@mixin lower-button {
  transform: translateY(3px);
}

@mixin poster {
  box-sizing: content-box;
  border: 1px solid transparent;

  &:hover {
    background-color: colors.$lightButtonBackground;
    border-color: colors.$lightButtonBorder;
  }
}

@mixin selected {
  //position: relative;
  border-color: colors.$highlight;
  //border-width: 3px;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-style: solid;
    border-color: colors.$highlight colors.$highlight transparent transparent;
    border-width: 0 2rem 2rem 0;
    z-index: 100;
  }

  &::after {
    content: "\2713";
    position: absolute;
    top: 0;
    right: 0;
    font-size: large;
    color: colors.$checkMark;
    z-index: 100;
  }
}

@mixin toggle-switch($height) {
  height: $height;
  width: calc(2 * $height);
}
