$navMenuHeight: 3rem;
$navMenuPadding: 1rem;
$navigationSquare: $navMenuHeight + $navMenuPadding + $navMenuPadding;
$eventPosterWidth: 275px;
$tilePosterSize: 150px;
$sliderSize: 1.7rem;
$defaultFontSize: 11pt;
$lightBorder: 1px solid rgba(100, 100, 100, .1);
