$navMenuHeight: 3rem;
$navMenuPadding: 1rem;
$navigationSquare: $navMenuHeight + $navMenuPadding + $navMenuPadding;
$eventPosterWidth: 15vw;
$sliderSize: 1.7rem;
$modalIndex: 245;
$defaultFontSize: 11pt;
