@use "colors";

.Video-player-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: colors.$defaultComponentBg;
  z-index: 175;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  $trackHeight: .5rem;
  $shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);

  .Video-player-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .Video-player {
    z-index: 165;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}

.React-Hook-Video-js {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  video {
    height: 100vh !important;
    width: 100vw !important;
  }
}
