body {
    margin: 0;
    background-color: #282c34;
    color: whitesmoke;
    font-family: Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif,
    BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}
