@use "animations";
@use "buttons";
@use "colors";
@use "features/competitions";
@use "features/edit-wizard";
@use "features/events";
@use "features/file-servers";
@use "features/data-sources";
@use "features/plugins";
@use "features/teams";
@use "fonts";
@use "components";
@use "layout";
@use "spinner";
@use "variables";
@use "video-player";

@import "mixins";

html {
  margin: 0;
  padding: 0;
  color: colors.$defaultFontColor;
  width: 100vw;
  height: 100vh;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

button:not([disabled]) {
  cursor: pointer;
}

h1 {
  margin: 0;
}

p {
  text-align: start;
  margin: 0;
}

a {
  color: white  ;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-color: colors.$linkUnderline;
    opacity: 1 !important;
  }
}

code {
  font-family: fonts.$technical;
}


input[type=text],
input[type=password],
input[type=url] {
  border: 1px solid #333;
  background-color: colors.$darkBg !important;
  border-radius: 3px;
  padding: .5em;
  color: colors.$lightFontColor !important;
  font-size: 16px;

  &:disabled {
    @include disabled-input;
  }
}

select {
  background: none;
  padding: .5em;
  color: colors.$defaultFontColor;
}

option {
  background-color: colors.$defaultComponentBg;
  padding: .25em;
  color: colors.$defaultFontColor;
  border: 1px solid #888;
  font-size: 11pt;

  &:hover {
    cursor: pointer;
    background-color: colors.$highlight;
  }
}

li {
  list-style: none;
}
