@use "variables";
@use "colors";

@use "animations";
@use "layout";
@use "components";
@use "features";
@use "spinner";

html {
  margin: 0;
  padding: 0;
  color: colors.$defaultFontColor;
}

body {
  overflow: hidden;
}

button:not([disabled]) {
  cursor: pointer;
}

h1 {
  margin: 0;
}

p {
  text-align: start;
}

a {
  color: colors.$defaultFontColor;
  text-decoration: none;
}
