@use "colors";
@use "fonts";
@use "variables";


.About-description {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  color: #777;

  img {
    width: 32px;
    margin-right: 1rem;
  }
}

.App-settings-group {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 2.5rem 0 0;
  padding: 2rem;
  border: 1px solid colors.$border;
  border-radius: .75rem;
  width: 400px;

  .App-setting-container {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    label {
      margin-bottom: .5rem;
    }

    input {
      max-width: 300px;
    }

    .Cron-description {
      color: colors.$darkFontColor;
      margin: .5rem 1rem;
      opacity: 0;

      &.error {
        opacity: 1;
        font-weight: bold;
        color: red;
      }
    }

    &:hover {
      .Cron-description {
        opacity: 1;
      }
    }
  }
}

.Settings-save-dialog {
  display: flex;
}

.Settings-input {
  font-family: fonts.$technical;

  &.modified {
    border-color: colors.$highlight;
  }
}

.About-table {
  font-family: fonts.$technical;
  display: flex;

  td {
    padding: .5rem 3rem .5rem 0;

    &:nth-of-type(even) {
      color: #777;
      padding-left: 1rem;
    }
  }
}

.Sanity-report-display {
  padding-top: 2rem;
  padding-bottom: variables.$navigationSquare;

  .Dangling-file-entry {
    color: colors.$darkFontColor;
    background-color: colors.$darkTransparent;
    border: 1px solid colors.$darkBorder;
    padding: .5rem .25rem;
    margin: 0;
    font-size: small;
  }
}

.Floating-copy-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  height: 100%;
  width: 48px;

  &:hover {
    background-color: rgba(0, 0, 0, .2);
  }
}

.Database-table-container {
  width: 100%;
  margin-bottom: 1rem;

  .Database-table {
    font-family: fonts.$technical;
    font-size: small;
    color: colors.$mediumFontColor;
    border-collapse: collapse;
    margin-bottom: 1rem;

    th {
      text-align: start;
      border: 1px solid colors.$darkBorder;
      background-color: colors.$lessDarkTransparent;
      padding: .25rem .5rem;
    }

    td {
      padding: .25rem .5rem;
      background-color: colors.$darkTransparent;
      border: 1px solid colors.$border;
      max-width: 25vw;
      overflow: hidden;
    }

    tr {
      &.selected {
        background-color: rgba(120, 120, 120, .4);
      }

      &:hover {
        cursor: pointer;

        td {
          background-color: colors.$lessDarkTransparent;
        }
      }
    }
  }
}

.Restore-button-container {
  display: flex;

  .Small-button {
    margin: 0;
  }
}

.Vpn-control {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .Vpn-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10rem;
    margin-right: 1rem;

    .icon {
      display: flex;
      align-items: center;
      opacity: .5;
      font-size: small;
      font-weight: bold;
      filter: colors.$redFilter;

      img {
        width: 1.5rem;
        margin-right: .5rem;
      }

      &.connected {
        filter: colors.$greenFilter;
        opacity: 1;
        font-weight: normal;
      }
    }

    .Vpn-server {
      font-size: x-small;
      font-style: italic;
      color: colors.$darkFontColor;
      margin-left: 1rem;
    }
  }
}
