@use "variables";
@use "colors";
@use "layers";
@import "mixins";


.Accordion-button {
  display: block;
  padding: 1rem;
  margin: .5rem 0;
  color: colors.$lightFontColor;
  text-align: left;
  font-size: medium;
  width: 100%;
  border-radius: 5px;

  &:hover {
    background-color: rgba(180, 180, 180, .2);
  }
}

.Banner-title {
  & > h1 {
    border-bottom: 6px solid colors.$darkBg;
  }

  margin-bottom: 3rem;
}

.Country-tile {
  display: flex;
  align-items: center;

  img {
    width: 24px;
    margin-right: .6rem;
  }
}

.Detail-title {
  text-align: left;
  margin-bottom: 1rem;
}

.Detail-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;

  .Detail-poster {
    @include detail-poster;
  }

  .Detail-edit-controls {
    position: absolute;
    @include detail-poster;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    height: 318px;

    &.Team-edit-controls {
      width: 350px;
      margin: 0;
    }

    .Edit-button {
      background-color: colors.$darkButtonBackground;
      border: 3px solid colors.$border;
      display: none;
      border-radius: 100%;
      padding: 1rem;
      opacity: .7;

      &:hover {
        background-color: colors.$mediumButtonBackground;
        border-color: colors.$mediumBg;
        opacity: 1;
      }
    }

    &:hover {
      cursor: pointer;
      background: colors.$dimmed;

      .Edit-button {
        display: block;
      }
    }
  }
}

.Floating-menu {
  background-color: colors.$semiDarkBg;
  padding: 0;
  border: 1px solid colors.$shadow;
  position: absolute;
  box-shadow: 3px 3px 3px colors.$shadow;
  z-index: layers.$floatingMenu;

  &.hidden {
    display: none;
  }

  ul {
    list-style: none;
  }
}

.Menu-item {
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: layers.$floatingMenu;

  &:hover {
    background-color: colors.$mediumBg;
    cursor: pointer;
  }

  p {
    margin: 0;
  }

  img {
    width: 1rem;
    float: right;
    vertical-align: top;
    display: inline;
    height: 1rem;
    margin-left: 1.5rem;
    opacity: .5;
  }

  &:hover img {
    opacity: .9;
  }
}

.Message {
  display: flex;
  align-items: center;
  border: 1px solid #444;
  box-shadow: 3px 3px 5px colors.$shadow;
  padding: 2em;
  margin: 2rem 0;
  width: fit-content;

  & > img {
    height: 8em;
  }

  .Message-description-container {
    padding: 0 3em;

    p {
      margin: 10px 0;
    }

    .Message-title {
      margin: 0;
      padding: 0;
      text-align: start;
      letter-spacing: .125em;
    }

    .Message-description {
      color: colors.$lightFontColor;
    }

    .Message-code {
      color: colors.$darkFontColor;
    }
  }
}

.Modal-container {
  height: 100vh;
  width: 103vw;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: layers.$modalContainer;

  &.hidden {
    display: none;
  }

  .Modal {
    $modalPadding: 1rem;

    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: layers.$modal;
    display: flex;
    justify-content: center;
    align-items: center;

    &.hidden {
      display: none;
    }

    .Dialog {
      margin: 5rem;
      width: 50%;
      height: 75%;
      background-color: colors.$appBg;
      border: 1px solid colors.$border;
      border-radius: .4rem;
      color: whitesmoke;
      box-shadow: 3px 4px 7px black;
    }

    .Modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid colors.$border;
      padding: $modalPadding;
    }

    .Modal-body {
      padding: 3rem 2rem;
      height: 50vh;
      overflow: auto;
    }

    .Modal-footer {
      border-top: 1px solid colors.$border;
      padding: $modalPadding;
    }
  }
}

.Nav-link {
  border: 0;
  width: variables.$navigationSquare;
  height: variables.$navigationSquare;
  opacity: .5;
  background-color: transparent;
  transition: opacity 250ms ease-in-out, background-color 250ms ease-in-out;

  &:hover, &:active {
    opacity: .95;
    background-color: colors.$navButtonHover;
  }

  &.current {
    background-color: colors.$currentNavItemBg;
  }

  img {
    max-height: 2rem;
    max-width: 2rem;
  }
}

.Select {
  border: 1px solid #888;
  padding: .1em;
  width: 12rem;

  &:hover:not(.disabled) {
    border-color: #aaa;
  }

  &.focused:not(.disabled) {
    border-color: #ccc;
  }

  &.disabled {
    border-color: transparent;
  }

  &.disabled > .Selected-item-button {
    cursor: default;

    &:after {
      content: '';
    }
  }

  .Selected-item-button {
    background: none;
    border: none;
    color: whitesmoke;
    padding: 0.5rem;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;

    &:after {
      @include dropdown-arrow;
    }

    &.placeholder {
      color: #666;
    }
  }

  & .Floating-menu {
    background-color: colors.$appBg;
    width: 12rem;
    max-height: 30vh;
    overflow-y: scroll;
    transform: translate(-4px, 2px);
    z-index: layers.$floatingMenu;

    & > ul > div:not(:last-of-type) {
      border-bottom: 1px dashed #666;
    }
  }

  .Select-option {
    padding: .8rem .6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:not(:nth-last-of-type(1)) {
      border-bottom: 1px dashed #ccc;
    }

    &:hover {
      background-color: rgba(200, 200, 200, .2);
      cursor: pointer;
    }
  }
}

.Settings-group {
  margin: 4rem 0;
  max-width: 75%;

  .Setting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    margin: 1.6rem 0;
    background-color: colors.$defaultComponentBg;
    border-radius: 1rem;
  }

  .Settings-link {
    font-size: medium;

    &:hover {
      background-color: rgba(255, 255, 255, .2);
      cursor: pointer;
    }

    .link-arrow {
      max-height: 1rem;
      opacity: .3;
    }
  }
}

.Soft-load-container {

  .Soft-load-image {
    width: inherit;
    height: inherit;
    border-radius: variables.$softBorder;

    &.not-displayed {
      display: none;
    }
  }
}

.Status-bubble {
  position: relative;
  display: flex;
}

.Tag-field {
  display: flex;
  justify-content: flex-start;
  padding: .5em;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: colors.$darkBg !important;
  color: #ccc !important;
  font-size: 16px;

  &:disabled {
    @include disabled-input;
  }

  &:hover:not(:disabled) {
    cursor: text;
  }

  .Tags-container {
    display: flex;
    flex-wrap: wrap;
  }

  .Tag-container {
    display: flex;
    justify-content: center;
    padding: .2rem .5rem;
    margin: .25rem;
    background-color: colors.$darkBg;
    border-radius: 5px;
    border: 1px solid rgba(100, 100, 100, .3);

    .Clear-button {
      transform: none;
      margin: 0;

      img {
        width: 10px;
      }
    }
  }

  .Tag-editor {
    border: 0;
    background: none;
    margin: .25rem;
    padding: 0;
    max-width: 25vw;

    &:active {
      border: 0 !important;
    }
  }
}

.Toggle-group {
  margin: 1rem 0;
  border: variables.$lightBorder;
  padding: 2rem;

  .Toggle-group-header {
    .Toggle-group-header-button {
      background-color: colors.$defaultComponentBg;
      border: none;
      padding: 1rem 2rem;
      color: colors.$mediumFontColor;

      &.selected {
        background-color: colors.$selectedCredential;

        &:hover {
          background-color: colors.$selectedCredentialHover;
        }
      }

      &:hover {
        background-color: colors.$credentialHover;
        color: colors.$defaultFontColor;
      }
    }
  }

  .Toggle-group-display {
    border: variables.$lightBorder;
    padding: 1rem;
  }
}