@use "variables";
@use "colors";
@use "layers";

$searchToolAnimationDuration: .4s;

.App-header {
  .Main-nav {
    z-index: layers.$base;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: colors.$navBackgroundColor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .Home-wrapper {
      .Home-button {
        :hover {
          cursor: pointer;
        }

        padding: 0;
        margin: 0;
        border: 0;
        box-sizing: content-box;
        height: variables.$navigationSquare;
        min-width: variables.$navigationSquare;

        img {
          height: variables.$navMenuHeight;
          width: variables.$navMenuHeight;
        }
      }

      .Search-tool {
        padding: .6rem;
        margin-left: 2rem;

        &:hover input#q,
        input#q:focus {
          padding: 0 .4rem;
          background-color: colors.$mediumButtonBackground;
          animation: unfurlSearchTool $searchToolAnimationDuration linear forwards;
          animation-timing-function: ease-out;
        }

        form {
          display: flex;

          input#q {
            width: 0;
            padding: 0;
            border: 0;
            background-color: colors.$darkButtonBackground;
            color: whitesmoke;
            animation-name: furlSearchTool;
            animation-duration: $searchToolAnimationDuration;
            animation-timing-function: ease-out;
          }

          &:hover input#q,
          &:focus input#q,
          input#q:focus {
            margin-right: 1rem;
          }

          button {
            display: flex;
            justify-content: center;
            border-radius: 15%;
            border: 0;
            background-color: colors.$mediumButtonBackground;

            &:hover {
              background-color: colors.$navButtonHover;
            }

            img {
              height: 1rem;
              padding: .5rem;
            }
          }
        }

        @keyframes unfurlSearchTool {
          from {
            width: 0;
          }
          to {
            width: 200px;
          }
        }

        @keyframes furlSearchTool {
          from {
            width: 200px;
          }
          to {
            width: 0;
          }
        }
      }
    }

    .Admin-nav-menu-wrapper {
      .Admin-nav-menu {
        list-style: none;
        display: flex;
        overflow: hidden;
        margin-right: variables.$navMenuHeight;

        li {
          height: variables.$navigationSquare;
          width: variables.$navigationSquare;
          display: flex;
          justify-content: center;
          align-items: center;

          button {
            border: 0;
            padding: 1rem;

            img {
              height: variables.$navMenuHeight;
            }
          }
        }

        #User-menu-button-wrapper {
          display: flex;
          justify-content: center;

          &::after {
            content: "\25BC";
            display: block;
            font-size: 10pt;
            position: relative;
            right: .8rem;
          }
        }

        .User-menu-wrapper {
          position: fixed;
          top: variables.$navigationSquare;
          background-color: colors.$navBackgroundColor;
          box-shadow: -2px 3px 3px colors.$shadow;

          .User-menu {
            list-style: none;

          }
        }
      }
    }
  }
}
