@use "colors";
@use "fonts";
@use "variables";

.App-settings-group {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  padding: 2rem;
  border: 1px solid colors.$border;
  border-radius: .75rem;
  max-width: 400px;
  min-width: 250px;

  .App-setting-container {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    label {
      margin-bottom: .5rem;
    }
  }
}

.Settings-save-dialog {
  $spacing: calc(#{variables.$navigationSquare} * 2);
  position: fixed;
  top: $spacing;
  right: $spacing;
  display: flex;
}

.Settings-input {
  font-family: fonts.$technical;

  &.modified {
    border-color: colors.$highlight;
  }
}